html,
body {
	padding: 0;
	margin: 0;
	font-family: fantasy, serif, sans-serif;
	line-height: 2.0;
	font-size: 1rem !important;
	color: #4f4f4f;
	background-color: #fff;
}

* {
	box-sizing: border-box;
	font-family: fantasy, serif, sans-serif;
	font-size: 16px;
	letter-spacing: 0.5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}